body{
	padding: 0;
	margin: 0;
    font-family: "Work Sans", sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }
* {
    scrollbar-width: inherit;
    scrollbar-color: inherit;
	box-sizing: border-box;

}

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    list-style: none; 
	font-family: 'Rubik';}

p, th , td {
    font-size: 18px;
    color: #5A5A5A;
    line-height: 1.5;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none; }

li {
    margin: 0;
    padding: 0;
    list-style: none; }

a {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none !important;
    text-decoration: none !important; }

input {
    outline: none !important; }

button {
    outline: none !important; }
.main {
    overflow: hidden; 
    background:#FFF;
}
.text-decoration a{
    text-decoration:underline !important;
}
img{
    max-width:100%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	max-width: 1320px;
}
.header-area {
	padding: 40px 0;
	background: rgba(255, 144, 14, 0.1);
}
.header-content-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.maenu-area ul {
	display: flex;
	list-style: none;
}
.logo-title h1 {
	color: rgba(19, 19, 19, 1);
	font-size: 45px;
	font-weight: bold;
	font-family: work sans;
}
.maenu-area ul li {
	margin-left: 60px;
}
.maenu-area ul li a {
	color: rgba(19, 19, 19, 1);
	font-size: 18px;
	font-weight: 500;
	font-family: work sans;
}
.banner-area {
	background: rgba(255, 144, 14, 0.1);
	padding: 40px;
}
.banner-content {
	text-align: center;
}
.banner-content h1 {
	color: rgba(19, 19, 19, 1);
	font-size: 64px;
	font-weight: bold;
	font-family: work sans;
	max-width: 862px;
	margin: auto;
	padding-bottom: 20px;
}
.banner-content p {
	color: rgb(114, 114, 114);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	margin: auto;
	max-width: 868px;
	padding-bottom: 40px;
}
.banner-content a {
	background: #FF900E;
	padding: 20px 25px;
	border-radius: 10px;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	font-family: work sans;
}
.banner-content a:hover{
    background-color: #f18519;
    transition: 0.5s;
}
.banner-image {
	padding-top: 50px;
}
.teams-area {
	padding: 60px 0;
}
.teams-area .row {
	align-items: center;
}
.teams-image {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.teams-content h3 {
	color: rgba(114, 114, 114, 1);
	font-size: 45px;
	font-weight: 500;
	font-family: work sans;
	max-width: 468px;
	padding-bottom: 20px;
}
.teams-content b {
	color: rgba(19, 19, 19, 1);
}
.teams-content span {
	color: rgba(255, 144, 14, 1);
}
.teams-content p {
	color: rgba(114, 114, 114, 1);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	max-width: 537px;
	padding-bottom: 40px;
}
.teams-content a {
	background: #FF900E;
	padding: 20px 25px;
	border-radius: 10px;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	font-family: work sans;
}
.teams-content a:hover{
    background-color: #f18519;
    transition: 0.5s;
}
.features-area {
	padding: 40px 0;
}
.features-content h2 {
	color: rgb(19, 19, 19);
	font-size: 45px;
	font-weight: bold;
	font-family: work sans;
	max-width: 400px;
	padding-bottom: 20px;
}
.features-content p {
	color: rgba(114, 114, 114, 1);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	padding-bottom: 50px;
}
.features-single-item {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	margin-bottom: 30px;
	padding: 30px 30px;
	border-radius: 10px;
}
.features-single-item h5 {
	color: rgba(19, 19, 19, 1);
	font-size: 20px;
	font-weight: 600;
	font-family: work sans;
	padding-bottom: 10px;
}
.features-single-item p {
	color: rgba(114, 114, 114, 1);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	max-width: 514px;
}
.facts-area {
	padding: 40px 0;
}
.facts-title {
	padding-bottom: 60px;
}
.facts-title h3 {
	color: rgba(19, 19, 19, 1);
	font-size: 45px;
	font-weight: bold;
	font-family: work sans;
	padding-bottom: 20px;
}
.facts-title p {
	color: rgba(114, 114, 114, 1);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	max-width: 542px;
}
.facts-content {
	border: 1px solid #FF900E;
	text-align: center;
	padding: 40px 0;
	border-radius: 10px;
}
.facts-content h3 {
	color: rgba(66, 66, 66, 1);
	font-size: 45px;
	font-weight: 600;
	font-family: work sans;
	padding-top: 10px;
}
.facts-content p {
	color: rgba(114, 114, 114, 1);
	font-size: 20px;
	font-weight: 600;
	font-family: work sans;
	padding-top: 10px;
}
.sponspors-area {
	padding: 60px 0;
}
.sponsors-title {
	text-align: center;
}
.sponsors-title h2 {
	color: rgba(19, 19, 19, 1);
	font-size: 45px;
	font-weight: bold;
	font-family: work sans;
	padding-bottom: 20px;
}
.sponsors-title p {
	color: rgba(114, 114, 114, 1);
	font-size: 16px;
	font-weight: 400;
	font-family: work sans;
	max-width: 542px;
	margin: auto;
}
.sponspors-image {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}